/* created by Ravi  */

body{


    background-color:#008080;
}
#head_mid{
    font-size:40px;
    color:black;
    padding: 5px 0px;
    text-align:center ;
    margin: 0px 0px 0px 0px;
    text-shadow:3px 3px grey;
    /* border: 1px solid white; */
    
}
.calculator{
    height: 370px;
    width: 300px;
    background-color: #232B2B;
    margin:auto;
    margin-top:13%;
    /* transform: translate(-50% -50%); */
    padding: 10px;
    
    border-radius: 20px;
    box-shadow:0 0 30px 5px;
}

.calculator:hover{
transition-duration:0.5s;
    box-shadow:0 0 15px 10px grey;
}
.main-bar{
    text-align: right;
    border-bottom: none;
    outline: none;
    font-size: 100%;
    height: 60px;
    margin-bottom: 20px;
}
.btn{
    font-size: 100%;
    cursor: pointer;
    width: 65px;
}
.main2{
    border: none;
    color: green;
    margin-bottom: 10px;
    text-align: right;
}