/* created by Ravi  */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 80vh;
    width: 100%;
    background-color:#63573d;
}


#head_mid{
    font-size:40px;
    font-weight: 700;
    color:black;
    padding: 5px 0px;
    text-align:center ;
   margin-top: 5% ;
    text-shadow:3px 2px grey;
    /* border: 1px solid white; */
    
}
.calculator{
    height: 60vh;
    width:310px;
    background-color: #000000;

    margin:auto;
   margin-top: 4%;
    padding: 10px;
    
    border-radius: 20px;
    box-shadow:0 0 30px 5px;
}
@media screen and (min-width: 600px) {
    body {
      background-color: lightgreen;
    }
    .calculator{
        height: 23%;
        margin-top: 30%;
    }
  }

.calculator:hover{
transition-duration:0.5s;
    box-shadow:0 0 15px 10px grey;
}
.main-bar{
    text-align: right;
    border-bottom: none;
    outline: none;
    font-size: 100%;
    height: 60px;
    margin-bottom: 20px;
}
.btn{
    font-size: 100%;
    cursor: pointer;
    width: 65px;
}
.main2{
    border: none;
    color: green;
    margin-bottom: 10px;
    text-align: right;
}